In [2]:
import pandas as pd
import matplotlib.pyplot as plt

data = pd.read_csv("Datos.txt",delimiter='\t')
data.head()

   Muestra  Atributo A  Atributo B  Atributo C
0        1    2.328705    5.800180    6.607432
1        2    3.794852    4.821761    5.766991
2        3    5.458004    3.943194    7.294189
3        4    6.059609   10.826040    9.816425
4        5    7.147854    6.807862    8.436189

In [3]:
data.rename(index={0:"Size", 1:"Mass", 2:"Protein_density"})
data.head()

   Muestra  Atributo A  Atributo B  Atributo C
0        1    2.328705    5.800180    6.607432
1        2    3.794852    4.821761    5.766991
2        3    5.458004    3.943194    7.294189
3        4    6.059609   10.826040    9.816425
4        5    7.147854    6.807862    8.436189